@{
    ViewBag.Title = "Home Page";
}

<style class="store">
    body {
        background-image: url('../../Content/Photos/store.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<section class="jumbotron">
    <div class="img"></div>

    <div class="container">
        <div class="row">
            <h1 class="logo">Sharon's Wardrobe</h1>
        </div>
    </div>
</section>

<div class="row container photos">
    <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="thumbnail">
            <div class="thumbnail">
               <img src="~/Content/Photos/shirt.jpg" alt="Shirt" />
                @Html.ActionLink("Tops", "Index", "Tops", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="thumbnail">
            <img src="~/Content/Photos/casualpants.jpg"  alt="Bottoms " />
            @Html.ActionLink("Bottoms", "Index", "Bottoms", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
<div class="row container photos">
    <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="thumbnail">
            <img src="~/Content/Photos/tanboot.jpg" alt="Shoes " />
            @Html.ActionLink("Shoes", "Index", "Shoes", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="thumbnail">
            <img src="~/Content/Photos/Timbuk2.jpg" alt="Mountain in the clouds " />
            @Html.ActionLink("Accessories", "Index", "Accessories", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
<ul class="paginate">
    <li><a href="#">Home</a></li>
    <li><a href="#">Tops</a></li>
    <li><a href="#">Bottoms</a></li>
    <li><a href="#">Shoes</a></li>
    <li><a href="#">Accesories</a></li>
</ul>
  